<div>
    <section>
        <h1>Our Menu</h1>
        <div class="menu">
            <img src="../../../assets/img/3_section_our_menu/Png/R1.png" alt="">
            <div>
                <h3 class="fontEconomica">Tonkatsu Ramen</h3>
                <table>
                    <tr>
                        <td>CHICKEN</td>
                        <td>11.95€</td>
                    </tr>
                    <tr>
                        <td>BEEF</td>
                        <td>12.95€</td>
                    </tr>
                    <tr>
                        <td>SHRIMP</td>
                        <td>13.95€</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</div>