div {
    width: 100%;
    font-family: "Raleway";
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 80px;
    color: #9F0908;
    text-transform: uppercase;
}

h3 {
    font-size: 56px;
}

section {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    >img {
        width: 352px;
        height: 352px;
    }
}