
<div>
    <section>
        <h1>How To Order</h1>
        <div class="steps">
            <div>
                <img src="./../../../assets/img/2_section_how_to_order/PNG/noodle.png" alt="">
                <h3 class="fontEconomica">Pick your noodle</h3>
            </div>
            <div>
                <img src="./../../../assets/img/2_section_how_to_order/PNG/broth.png" alt="">
                <h3 class="fontEconomica">Pick your broth</h3>
            </div>
            <div>
                <img src="./../../../assets/img/2_section_how_to_order/PNG/egg.png" alt="">
                <h3 class="fontEconomica">Add your toppings</h3>
            </div>
        </div>
    </section>
</div>

